.hcfe .search-container {
    background-image: url(https://ssl.gstatic.com/support/content/images/static/homepage_header_background.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    height: 19.0625rem;
    margin-top: 1.5rem;
    text-shadow: 0 0 black;
}
.hcfe .search-greeting {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.625rem;
    padding: 0;
    color: #1967d2;
    font-weight: 400;
    text-align: center;
}
.search-greeting-logo-container {
    height: 3.5rem;
    margin: 0 auto 1.125rem auto;
    padding: .5rem;
    width: 3.5rem;
}
.search-greeting-logo {
    height: 2.5rem;
    width: 2.5rem;
}

.hcfe .search-form {
    margin: 0 auto;
    padding: 0 0 2.5rem;
    width: 32.5rem;
}

.hcfe .search-input {
    background-color: #ffffff;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-sizing: border-box;
    color: #202124;
    display: block;
    font-size: 1rem;
    height: 3rem;
    padding: 0 2.5rem 0 4.5rem;
    width: 100%;
    -webkit-appearance: none;
}
.hcfe-content {
    position: relative;
}

.primary-container {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: none;
}

.page-width-container {
    box-sizing: border-box;
    margin: 0;
    max-width: 75.125rem;
    padding: 0 1rem;
    width: 50%;
}

.main-content {
    display: inline-block;
    position: relative;
    width: 100%;
}

.page {
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    display: inline-block;
    position: relative;
}

.homepage-heading {
    align-items: baseline;
    flex-direction: column;
    padding: 3rem 1.5rem .5rem;
    display: flex;
    font-size: .875rem;
    font-weight: 500;
}

.homepage-heading-column {
    flex-direction: column;
}


h2.homepage-heading-title {
    flex: 1;
    font-family: 'Google Sans', Roboto, sans-serif;
    font-size: 1.125rem;
    line-height: 1.25rem;
    margin: 0;
}

.homepage-card {
    margin: 0;
    padding: 0;
}

.material-card {
    background: #ffffff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    overflow-x: hidden;
    position: relative;
}

.thread-list-thread {
    border-left: 0;
    min-height: auto;
    padding: 1rem 1.5rem 1rem 4rem;
}

.thread-list-thread {
    border-bottom: .0625rem solid #dadce0;
    cursor: pointer;
    display: block;
    position: relative;
}

.thread-list-thread-top-row {
    display: flex;
}

.thread-list-thread-title {
    flex: 1;
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #3c4043;
    font-weight: 500;
}

.thread-list-thread-bottom-row {
    display: flex;
    margin-top: .25rem;
}

.thread-list-thread-snippet {
    color: #80868b;
    display: block;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.thread-list-thread-counts {
    padding-left: 3rem;
}

.thread-list-counts {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0;
}

.thread-list-counts-count {
    margin: 0 0 0 .75rem;
    color: #80868b;
    font-size: .75rem;
    white-space: nowrap;
}

.homepage-categories {
    display: flex;
    flex-wrap: wrap;
}

.homepage-category-card-container:nth-child(odd) {
    padding-right: .5rem;
}

.homepage-category-card-container {
    box-sizing: border-box;
    display: flex;
    flex-basis: 50%;
    max-width: 50%;
}

.homepage-category-card {
    display: flex;
    flex-direction: column;
    margin: .5rem 0 1.5rem;
    width: 100%;
    padding: 0;
}

h3.homepage-category-card-title {
    color: #202124;
    font-family: 'Google Sans',Roboto,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin: 0;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.homepage-category-card-thread {
    border-bottom: .0625rem solid #dadce0;
    border-top: 0;
}